body {
	background-color:#B3C2D3;
	
}
 
 p{
 	color:#153746;
 	font-size: 1.2em;
 	font-family:url 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';
 	font-weight:
 	font-style:
 	text-decoration: underline
 }
 H1 {
    color: #2653A2;
   } 

H3{
	color: #057A37;
   } 


 footer p{
 
 
 h1{
 	font-family:@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap';
 }
 #pic1{
 	float: left;
 	width:75%;
 	padding-right: 25%;
 }
 #pic2{
 	float: right;
 	width:75%;
 }