body
{
	background-color: #2F2FA2;
}

h1
{
	color: #F64C72;
	font-family: 'Monserrat';
	text-align: center;
}

main
{
	background: #242582;
	padding: 1%;
}

h3
{
	color: #FFFFFF;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

p
{
	color: #FFFFFF;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}

hr
{
	border-color: #99738E;
}

footer
{
	color: #F64C72;
	text-align: left;
}